.container {
  max-width: 90%;
}

body {
  font-family: "Poppins", sans-serif;
}
body ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body a {
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4 {
  color: #009ed6;
}

header {
  padding-top: 20px;
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: transparent;
}
header .logo img {
  width: 80%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li a {
  transition: all 0.4s ease;
  position: relative;
  color: #fff;
  font-size: 16px;
}
header nav ul li a::after {
  transition: all 0.4s ease;
  position: absolute;
  top: 28px;
  left: 50%;
  transition: translate(-50%);
  width: 0%;
  height: 3px;
  content: "";
  background-color: #ed1a23;
}
header nav ul li a::before {
  transition: all 0.4s ease;
  position: absolute;
  top: 28px;
  right: 50%;
  transition: translate(-50%);
  width: 0%;
  height: 3px;
  content: "";
  background-color: #ed1a23;
}
header nav ul li:hover a {
  transition: all 0.4s ease;
  color: #ed1a23;
}
header nav ul li:hover a::after {
  transition: all 0.4s ease;
  width: 60%;
}
header nav ul li:hover a::before {
  transition: all 0.4s ease;
  width: 60%;
}
header nav ul .products {
  transition: all 0.4s ease;
  position: relative;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 10px;
}
header nav ul .products::after {
  transition: all 0.4s ease;
  position: absolute;
  top: 28px;
  left: 50%;
  transition: translate(-50%);
  width: 0%;
  height: 3px;
  content: "";
  background-color: #ed1a23;
}
header nav ul .products::before {
  transition: all 0.4s ease;
  position: absolute;
  top: 28px;
  right: 50%;
  transition: translate(-50%);
  width: 0%;
  height: 3px;
  content: "";
  background-color: #ed1a23;
}
header nav ul .products .products-dropdown {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  transition: all 0.4s ease;
  left: -15px;
  width: 150px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
header nav ul .products .products-dropdown li {
  position: relative;
  border-left: 5px solid transparent;
  padding: 5px 15px;
  border-bottom: 2px solid #eee;
  position: relative;
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s ease;
}
header nav ul .products .products-dropdown li ul {
  flex-direction: column;
}
header nav ul .products .products-dropdown li ul li a {
  color: #000;
}
header nav ul .products .products-dropdown li ul li a::after, header nav ul .products .products-dropdown li ul li a::before {
  display: none;
}
header nav ul .products .products-dropdown li:hover {
  transition: all 0.3s ease;
  border-left: 5px solid #ed1a23;
}
header nav ul .products .products-dropdown li .products-sub-dropdown {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: -200px;
  width: 200px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
header nav ul .products .products-dropdown .die-casting:hover {
  transition: all 0.5s ease;
}
header nav ul .products .products-dropdown .die-casting:hover ul {
  opacity: 1;
  visibility: visible;
  top: 5px;
}
header nav ul .products .products-dropdown .brake-lining:hover {
  transition: all 0.5s ease;
}
header nav ul .products .products-dropdown .brake-lining:hover ul {
  top: 5px;
  opacity: 1;
  visibility: visible;
}
header nav ul .products .products-dropdown .alloy:hover {
  transition: all 0.5s ease;
}
header nav ul .products .products-dropdown .alloy:hover ul {
  top: 5px;
  opacity: 1;
  visibility: visible;
}
header nav ul .products:hover {
  transition: all 0.4s ease;
  color: #ed1a23;
}
header nav ul .products:hover .products-dropdown {
  visibility: visible;
  opacity: 1;
  top: 35px;
}
header nav ul .products:hover::after {
  transition: all 0.4s ease;
  width: 60%;
}
header nav ul .products:hover::before {
  transition: all 0.4s ease;
  width: 60%;
}
header .social-media-links {
  position: fixed;
  bottom: 10px;
  left: 15px;
  width: 150px;
}
header .social-media-links ul li {
  margin-bottom: 20px;
}
header .social-media-links ul li a img {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}
header .social-media-links ul li a img:hover {
  transition: all 0.3s ease;
  transform: rotate(360deg);
}

.hamburgur-menu {
  display: none;
}

.milestones-wrapper {
  overflow: scroll;
}
.milestones-wrapper .milestones {
  min-width: 1400px;
}
.milestones-wrapper .milestones .upword-img img {
  width: 100%;
  height: 300px;
}
.milestones-wrapper .milestones .milestone {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
.milestones-wrapper .milestones .milestone::before {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
  width: 2px;
  height: 100px;
  background-color: #009ed6;
  content: "";
}
.milestones-wrapper .milestones .milestone p {
  color: #979c88;
}
.milestones-wrapper .milestones .milestone1::before {
  top: -80px;
  height: 80px;
}
.milestones-wrapper .milestones .milestone2::before {
  top: -110px;
  height: 110px;
}
.milestones-wrapper .milestones .milestone3::before {
  top: -160px;
  height: 160px;
}
.milestones-wrapper .milestones .milestone4::before {
  top: -190px;
  height: 190px;
}
.milestones-wrapper .milestones .milestone5::before {
  top: -220px;
  height: 220px;
}
.milestones-wrapper .milestones .milestone6::before {
  top: -230px;
  height: 230px;
}
.milestones-wrapper .milestones .milestone7::before {
  top: -270px;
  height: 270px;
}

.contact-us {
  margin: 100px 0px;
}
.contact-us .heading {
  text-align: center;
  margin-bottom: 50px;
}
.contact-us .heading h2 {
  color: #009ed6;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 36px;
}
.contact-us .contact-card {
  text-align: center;
}
.contact-us .contact-card img {
  width: 50px;
  height: 50px;
}
.contact-us .contact-card p,
.contact-us .contact-card span {
  color: #979c88;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

footer {
  padding: 40px 0px;
  background-color: #000;
}
footer .footer-contact ul li,
footer .footer-nav ul li,
footer .disclamer ul li,
footer .working-hours ul li {
  color: #979c88;
  margin-bottom: 12px;
}
footer .footer-contact ul li a,
footer .footer-nav ul li a,
footer .disclamer ul li a,
footer .working-hours ul li a {
  transition: all 0.5s ease;
  color: #979c88;
}
footer .footer-contact ul li a:hover,
footer .footer-nav ul li a:hover,
footer .disclamer ul li a:hover,
footer .working-hours ul li a:hover {
  color: #ed1a23;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 576px) {
  header .logo {
    width: 150px;
  }
}
@media only screen and (max-width: 700px) {
  header .social-media-links {
    left: 5px;
  }
  header .social-media-links ul li {
    margin-bottom: 10px;
  }
  header .social-media-links ul li a img {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 700px) {
  header nav ul {
    position: absolute;
    display: none;
  }

  .hamburgur-menu {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 50px;
    cursor: pointer;
  }
  .hamburgur-menu i {
    color: #fff;
    font-size: 30px;
  }

  header .logo {
    width: 150px;
  }
  header .logo img {
    transform: rotate(14deg);
  }
}/*# sourceMappingURL=header-footer.css.map */